.movies {
    margin: 0 auto;
    max-width: 1140px;
}

@media all and (max-width: 1279px) {
    .movies {
        width: 89%;
    }    
}

@media all and (max-width: 500px) {
    .movies {
        width: 91%;
    }    
}