.profile {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.profile__title {
    margin: 74px auto 123px;
    padding: 0;
    font-size: 24px;
    line-height: 121px;
    font-weight: 500;
}

.profile__form {
    margin: 0 auto;
    max-width: 410px;    
}

.profile__label {
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    width: 100%;
    font-size: 11px;
    line-height: 118%;
    font-weight: 500;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

.profile__label:last-of-type {
    border-bottom: none;
    margin-top: 17px;
    padding: 0;
}

.profile__input {
    font-size: 11px;
    text-align: right;
    line-height: 118%;
    border: none;
}

.profile__input:focus {
    border: none;
    outline: none;
}

.profile__edit {
    margin: 220px auto 0;
    padding: 0;
    width: 100%;
    font-size: 13px;
    line-height: 123%;
    border: none;
    background: none;
    cursor: pointer;

}

.profile__exit {
    margin: 16px auto 0;
    padding: 0;
    font-size: 13px;
    line-height: 123%;
    color: #FF3055;
    border: none;
    background: none;
    cursor: pointer;
}

.profile__submit {
    margin: 223px auto 0;
    padding: 13px 0 15px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #3456F3;
    color: white;
    font-size: 14px;
    line-height: 121%;
    font-weight: 500;
    cursor: pointer;
}

.profile__submit_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
    cursor: not-allowed;
}