.about-project {
    margin: 0 auto;
    padding: 0;
    background-color: white;
    justify-items: center;
}

.about-project__heading {
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 23px;
    font-size: 22px;
    line-height: 122%;
    font-weight: 400;
    max-width: 1140px;
    
}

.about-project__table {
    margin: 0 auto;
    display: flex;
    max-width: 1140px;
    gap: 40px;
    border-top: 1px solid black;
}

.about-project__table-title {
    margin-top: 70px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: -4%;
}

.about-project__table-paragraph {
    margin: 0;
    margin-top: 26px;
    font-size: 14px;
    line-height: 143%;
    font-weight: 400;
    max-width: 550px;
}

.about-project__process {
    margin: 0 auto 110px;
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 36px);
    align-items: center;
    max-width: 1140px;
}

.about-project__process-scale {
    margin: 0;    
    padding: 0;
    padding-top: 9px;
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    font-weight: 400;
    background-color: #F2F2F2;
    align-self: stretch;
}
.about-project__process-scale_green {
    background-color: #2BE080;
}

.about-project__process-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    font-weight: 500;
    color: #A0A0A0;
}