.portfolio {
    margin: 101px auto 125px;
    padding: 0;
    max-width: 1140px;
}

.portfolio__heading {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 111%;
    font-weight: 400;
    color: #A0A0A0;
}

.potfolio__links {
    margin: 50px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio__link {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    text-decoration: none;
    cursor: pointer;
}
.portfolio__link:last-child {
    border-bottom: none;
}

.portfolio__link-text {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    font-size: 30px;
    line-height: 167%;
    letter-spacing: -0.04em;
    font-weight: 400;
    color: black;
}

.portfolio__link-text:last-child {
    margin-bottom: 0;
}
@media all and (max-width: 1279px) {
    .portfolio {
        width: 89%;
    }
}
@media all and (max-width: 768px) {
    .portfolio {
        width: 87%;
        margin: 91px auto;
    }
    .portfolio__link-text {
        font-size: 28px;
        line-height: 178%;
    }
  }

  @media all and (max-width: 400px) {
    .portfolio {
        width: 91%;
        margin: 70px auto;
    }
    .portfolio__heading {
        font-size: 14px;
        line-height: 143%;
    }
    .potfolio__links {
        margin-top: 40px;
    }
    .portfolio__link-text {
        font-size: 18px;
        line-height: 156%;
    }
  }