.preloader {
    margin: 0 auto;
    padding: 50px 0 80px;
    text-align: center;
}

.preloader__button {
    min-width: 320px;
    padding: 11px 0 9px;
    color: black;
    font-size: 12px;
    line-height: 121%;
    font-weight: 500;
    border: none;
    background-color: #F9F9F9;
    cursor: pointer;
}

@media all and (max-width: 765px) {
    .preloader {
        padding: 61px 0 89px;
    }
    .preloader__button {
        min-width: 240px;
    }
}