.about-project {
    margin: 0 auto;
    padding: 0;
    padding-top: 110px;
    background-color: white;
    justify-items: center;    
    width: 89%;
}


.about-project__table {
    margin: 0 auto;
    display: flex;
    column-gap: 40px;
    row-gap: 26px;
}

.about-project__table-title {
    margin-top: 70px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: -4%;
}

.about-project__table-paragraph {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 143%;
    font-weight: 400;
    max-width: 550px;
}

.about-project__process {
    margin: 110px auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 36px);
    align-items: center;
}

.about-project__process-scale {
    margin: 0;    
    padding: 0;
    padding-top: 9px;
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    font-weight: 400;
    background-color: #F2F2F2;
    align-self: stretch;
}
.about-project__process-scale_green {
    background-color: #2BE080;
}

.about-project__process-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    font-weight: 500;
    color: #A0A0A0;
}

@media all and (max-width: 768px) {
    .about-project {
        padding-top: 90px;
        width: 87%;
    }
    .about-project__table {
        column-gap: 30px;
        row-gap: 22px;
    }
    .about-project__table-paragraph {
        font-size: 12px;
        line-height: 150%;
    }
    .about-project__process {
        margin: 93px auto 90px;
    }
}

@media all and (max-width: 400px) {
    .about-project {
        padding-top: 70px;
        width: 89%;
    }
    .about-project__table {
        flex-direction: column;
        row-gap: 16px;
    }

    .about-project__table-title {
        margin-top: 40px;
        font-size: 18px;
        line-height: 122%;
    }

    .about-project__table-paragraph {
        font-size: 11px;
        line-height: 145%;
    }
    .about-project__process {
        margin: 60px auto 70px;
        grid-template-columns: 1fr 1.84fr;
    }
    .about-project__process-scale {
        padding-top: 11px;
        font-size: 11px;
        line-height: 118%;
    }
    .about-project__process-text{
        font-size: 11px;
        line-height: 118%;
    }
}